  table, th, td {
    border: 1px solid black;
    padding: 4px;
  }

  /* Set the style for result_table class elements  */
  .result_table {
    background-color: #efefef;
    padding: 3px;
    text-align: center;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  /* This is used as header for the table  */
  .mycoolheader {
    background-color: #3652cf;
    color: #ffffff;
    font-weight: bold;
    padding: 3px;
    text-align: center;
    width: 300px;
  }

  /* Set the table row style  */
  .mycoolrow {
    background-color: #ffffff;
  }

  /* The the margin for the element with matching <id> tag  */
  #non_newtonian_fac {
    margin: 25px;
  }

  /* The the margins for the element with matching <id> tag  */
  #curve_chart {
    margin-left: auto;
    margin-right: auto;
  }
